<div
  style="position: absolute"
  [ngStyle]="{
    top: pos.y * (currentBgHeight / 969) + 'px',
    left: pos.x * (currentBgWitdh / 1351) + 'px',
    width: size.w * (currentBgWitdh / 1351) + 'px'
  }"
>
  <div
    class="wrapper"
    (click)="openQuestlist(this.team)"
    [ngStyle]="{
      height: size.h * (currentBgHeight / 969) + 'px'
    }"
  >
    <p class="teamText">{{ team }}</p>
    <span class="image">
      <p class="text">{{ quests[team]?.length ?? 99 }}</p>
    </span>
  </div>
</div>
