.wrapper {
  position: relative;

  &:hover {

    .image {


      -webkit-animation: bounce 1s infinite;
      animation: bounce 2s infinite;

    }
  }

  transition: all 0.5s ease-in-out;


}

@keyframes bounce {
  0% {
    top: -25px;
  }

  25%,
  75% {
    top: -20px;
  }

  50% {
    top: -25px;
  }

  100% {
    top: -25px;
  }
}

.wrapper .image {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
}

.text {
  color: black;
  font-size: large;
  transform: rotate(-45deg);
}

:host {
  z-index: 1000;
}
