<div id="quest-list">
    <div class="container">
        <div id="calendar" class="d-flex flex-row">
            <div id="calendar-sheet" class="d-flex flex-column flex-wrap">
                <a class="back" [routerLink]="['../../map']">&lt;&lt;</a>
                <div id="calendar-detail" class="d-flex">
                    <h1>Quest Title</h1>
                </div>
                <div id="calendar-overview" class="d-grid">
                    <div>Test</div>
                    <div>Test</div>
                    <div>Test</div>
                    <div>Test</div>
                    <div>Test</div>
                    <div>Test</div>
                    <div>Test</div>
                    <div>Test</div>
                    <div>Test</div>
                    <div>Test</div>
                    <div>Test</div>
                    <div>Test</div>
                    <div>Test</div>
                    <div>Test</div>
                    <div>Test</div>
                    <div>Test</div>
                </div>
            </div>
        </div>
    </div>
</div>
