:host>* {
    margin: 0;
    min-height: calc(100vh - 87px);
}

#quest-list {
    background: #000;
    position: relative;
}

#quest-list > button {
    position: absolute;
    left: 2rem;
    top: 2rem;
}

#calendar {
    background-color: #398F91;
    min-height: calc(100vh - 87px);
}

#calendar-detail {
    border: 6px solid #027368;
    padding: .5rem;
}

#calendar-overview {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: .5rem;
}

#calendar-sheet {
    flex-basis: 100%;
    padding: 1rem;
    gap: 10px;
    position: relative;
}

#calendar-sheet > div {
    flex-basis: 0;
    flex-grow: 1;
}

#calendar-overview > div {
    border: 4px solid #027368;
    padding: 10px;
    overflow: hidden;
    color: white;

    &.active {
        background-color: yellow;
    }
}

a.back {
    font-size: 50px;
    position: absolute;
    width: 30px;
    left: -50px;
    text-decoration: none;
}

.badge-new {
    background-color: #00D2FF;
    color: #003A55;
    padding: .3rem;
}
