<iap-hud></iap-hud>
<div id="quest-list">
    <div class="container">
        <div id="loadingBug" class="d-none"><img src="{{ bugImgUrl }}" alt="Bug"></div>
        <div id="calendar" class="d-flex flex-row">
            <div id="calendar-sheet" class="d-flex flex-column flex-wrap">
                <a class="back" [routerLink]="['../../map']">&lt;&lt;</a>
                <div id="calendar-detail" class="d-flex">
                    <div *ngIf="selectedQuest">
                        <h1>{{ selectedQuest.title }}</h1>
                        <p class="createdby">{{ selectedQuest.createdBy.username }}</p>
                        <div *ngIf="user$ | async as user" (click)="claimQuest(selectedQuest.id, user.username)">CLAIM!</div>
                    </div>
                </div>
                <div *ngIf="quests" id="calendar-overview" class="d-grid">
                    <div *ngFor="let quest of quests" (click)="showQuestDetail(quest.id)" [ngClass]="quest.id == selectedQuest?.id ? 'active' : ''">
                        <p>{{ quest.id }}</p>
                        <p>{{ quest.title }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
