:host {
    position: absolute;
    top: 50px;
    left: 0px;

    width: 200px;
    font-size: 24px;

    color: white;
    z-index: 1500;
}

.level {
    top: 25px;
}

progress {
    width: 100%;
    border: 2px solid white;
    height: 20px;
    background: white;


}

.avatar {
    width: 100px;
    height: 100px;

    border: 2px solid white;
}

/* For Firefox */
progress::-moz-progress-bar {
    background: yellow;
}

/* For Chrome or Safari */
progress::-webkit-progress-value {
    background: yellow;
}