<div class="row">
  <div class="container" *ngIf="user$ | async as user">
    <a class="back" routerLink="../../map">&lt;&lt;</a>
    <div class="d-flex">
      <img class="avatar" src="{{ getUrl(user.display_name) }}" />
      <div class="col">
        <h1 class="displayName">{{ user.display_name }}</h1>
        <p class="level">
          <span *ngIf="user.achievement_title">{{
            user.achievement_title
          }}</span>
          Level {{ user.level }}
        </p>
        <progress value="3" max="10"></progress>
        <h2 class="achievements">Achievements</h2>
        <div class="d-flex coins">
          <iap-achievement class="coin"
            *ngFor="let a of user.achievements"
            [achievement]="a"
          ></iap-achievement>
        </div>
      </div>
    </div>
  </div>
</div>
