@intershop:registry=https://pkgs.dev.azure.com/intershop-com/Products/_packaging/dev-kanon-releases/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/intershop-com/Products/_packaging/dev-kanon-releases/npm/registry/:username=${NPM_USER}
//pkgs.dev.azure.com/intershop-com/Products/_packaging/dev-kanon-releases/npm/registry/:_password=${NPM_PASSWORD}
//pkgs.dev.azure.com/intershop-com/Products/_packaging/dev-kanon-releases/npm/registry/:email=${NPM_EMAIL}
//pkgs.dev.azure.com/intershop-com/Products/_packaging/dev-kanon-releases/npm/:username=${NPM_USER}
//pkgs.dev.azure.com/intershop-com/Products/_packaging/dev-kanon-releases/npm/:_password=${NPM_PASSWORD}
//pkgs.dev.azure.com/intershop-com/Products/_packaging/dev-kanon-releases/npm/:email=${NPM_EMAIL}
; end auth token