:host > * {
  margin: 0;
  height: calc(100vh - 87px);
  background-color: black;
}

.background {
  display: flex;
  justify-content:center;
}

.backgroundImage {
  max-height: calc(100vh - 87px);
}
