:host>* {
  margin: 0;
  height: calc(100vh - 87px);
  background-color: black;
}

.background {
  display: flex;
  justify-content: center;
  position: relative;
}

.backgroundImage {
  max-height: calc(100vh - 87px);
}

#room.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}